.BFCard{
    text-align: center;
    border: 2px solid #e0b6dd;
    border-radius: 10px;
    height: 350px;
    margin-bottom: 20px;
    background-color: #8a8f8f;
    
    color: #ffffff;
    opacity: 1;
    transition: 0.1s;
}
.BFCard_header{
    background-color: #282c34;
    border-radius: 3px;

}

.BFList{
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.5);
}
.Card{

    text-align: center;
    border: 2px solid #8ed1c2;
    border-radius: 10px;
    height: 350px;
    margin-bottom: 20px;
    opacity: 0.8;
    transition: 0.1s;
}
.Card:hover{
    background-color: #8a8f8f;
    
    color: #ffffff;
    opacity: 1;
}
.Card_header{
    background-color: #8ed1c2;
    border-radius: 3px;

}

.Avatar{
    border-radius: 70px;
    border: 5px solid #dcebe8;
    margin: 10px;
    transition: 0.1s;
}
.Avatar:hover{
    transform: scale(1.2);

}
.List{
    margin-top: 20px;
}
.header{
    padding: 20px;
    background-color: #282c34;
  }
.bt{
    transition: 0.2s;
}
.bt:hover{
    transform:scale(1.1);
}